head
  meta(charset='utf-8')
  link(href='https://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Arimo:400,700', rel='stylesheet', type='text/css')
  script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  title TikTakTo
.title
  | enjoy with headphones for optimal experience
  br
  | an unbound project 
  span#toggle-sound.link ambience on
  br
  span#move-first.link human move first
  br
  span#new-game.link new game
.grid-container
  .grid
    #0-cont.flip-container
      .flipper
        #0.front.pos
        #0-back.back.pos
    #1-cont.flip-container
      .flipper
        #1.front.pos
        #1-back.back.pos
    #2-cont.flip-container
      .flipper
        #2.front.pos
        #2-back.back.pos
    #3-cont.flip-container
      .flipper
        #3.front.pos
        #3-back.back.pos
    #4-cont.flip-container
      .flipper
        #4.front.pos
        #4-back.back.pos
    #5-cont.flip-container
      .flipper
        #5.front.pos
        #5-back.back.pos
    #6-cont.flip-container
      .flipper
        #6.front.pos
        #6-back.back.pos
    #7-cont.flip-container
      .flipper
        #7.front.pos
        #7-back.back.pos
    #8-cont.flip-container
      .flipper
        #8.front.pos
        #8-back.back.pos
    寿司